@use "../../styles/style.scss" as *;

.youtube-player-wrapper {
  @include flexible();
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 600px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 730px) {
    .youtube-player-wrapper{
        width: 70%;
        height: 300px;
    }
}

@media (max-width: 480px){
  .youtube-player-wrapper{
    height: 170px;
  }
}
