@use "../../styles/style.scss" as *;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

.main {
  width: 100%;

  &__content {
    @include flexible();
    flex-direction: column;
    padding: 0 10px;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__item {
    @include standartTransition();
    @include standartAnimZoom();

    a {
      display: block;
      height: 100%;
      outline: none;
    }
  }
}

// СЕКЦИЯ ПАСТЫ
.pasta {
  margin-bottom: 15px;
  z-index: 2;
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__content {
    max-width: 740px;
    border: 1px solid $color2;
    border-radius: 25px;
    background-color: $color1;
    padding: 44px 15px;
  }
  &__text {
    @include textReset();
    @include textType2();
    user-select: none;
  }
}

// СЕКЦИЯ ССЫЛОК
.links {
  margin-bottom: 54px;
  z-index: 2;
  &__list {
    @include listReset();
    @include flexible();
    gap: 40px;
  }
  &__item {
    @include standartTransition();
    @include standartAnimZoom();
    & {
      background-color: $color1;
      border: 1px solid $color2;
      border-radius: 7px;
      min-width: 183px;
      padding: 15px 5px;
    }
    a {
      @include textType2();
      display: block;
      padding: 3px 18px;
      outline: none;
      user-select: none;
    }
  }
}

// СЕКЦИЯ ЧИБИ
.chibi {
  margin-bottom: 20px;
  .container {
    display: flex;
    justify-content: center;
  }
  &__content {
    @include flexible();
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  &__btn {
    @include btnReset();
    animation: pulse 1.5s infinite;
  }

  &__cloud-container {
    @include standartTransition();
    position: absolute;
    top: -13%;
    left: -49%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: rotate(-5deg);
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__cloud-img {
    z-index: 0;
  }
  &__cloud-text {
    @include textReset();
    @include textType2();
    position: absolute;
    max-width: 310px;
    top: 45%;
    left: 50%;
    transform: rotate(-8deg) translate(-50%, -50%);
    font-weight: 900;
    filter: invert(1);
    z-index: 1;
  }

  &__hint {
    position: absolute;
    left: 4%;
    top: 20%;
    filter: invert(1);

    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0.3s ease;
  }
  &__hint-text {
    @include textReset();
    @include textType2();
    font-weight: 900;
    color: #000;
  }
}

@media (max-width: 1480px) {
  .chibi {
    .container {
      display: flex;
      justify-content: flex-end;
    }
    &__content {
      width: 50%;
    }
    &__cloud-container {
      top: -49%;
      left: -118%;
    }
    &__hint {
      left: -15%;
    }
  }
}

@media (max-width: 752px) {
  .links__list {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 650px) {
  .chibi__cloud-container {
    width: 120%;
    top: -40%;
    left: -97%;
  }
  .chibi__cloud-text {
    font-size: 1em;
  }
  .chibi__hint {
    left: -21%;
    top: -2%;
  }
}

@media (max-width: 570px) {
  .chibi__cloud-text {
    font-size: 10px;
    line-height: 10px;
  }
}

@media (max-width: 470px) {
  .pasta__text {
    @include textType15();
  }
  .links__item {
    padding: 5px 10px;
    min-width: fit-content;

    a {
      @include textType15();
      padding: 0;
    }
  }
}

@media (max-width: 350px) {
  .chibi {
    &__cloud-text {
      font-size: 8px;
      line-height: 8px;
    }
    &__hint {
      left: -62px;
      svg {
        width: 35px;
      }
    }
  }
  .chibi__hint-text {
    @include textType15();
    filter: invert(1)
  }
  .links__item {
    @include textType1();
    padding: 10px;
  }
}
