@use "../../styles/style.scss" as *;

.resonator {
  color: $white;

  &__container {
    @include flexible();
    flex-direction: column;
  }

  &__common-container {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
  }

  &__common-preview {
    max-width: 680px;
    margin-bottom: 20px;
  }

  &__h2 {
    @include textReset();
    @include textType4();
    @include textBold();
    font-weight: 400;
    line-height: 1;
    border-bottom: 8px double $color2;
    border-top: 8px double $color2;
    margin-bottom: 40px;
    text-shadow: 1px 1px 40px $color2;
  }

  // кнопка наверх
  &__up {
    @include textType2();
    position: fixed;
    top: 3%;
    right: 3%;
    padding: 10px;
    background: $color2;
    border-radius: 15px;
  }
}

.name {
  @include flexible();
  gap: 10px;
  &__h2 {
    @include textReset();
    @include textType7();
    letter-spacing: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
  }
  &__role {
    @include textType4();
    letter-spacing: 0.5px;
    margin-bottom: 24px;
  }
  &__preview-img {
    width: 20%;
  }
}

.contents {
  @include flexible();
  flex-direction: column;
  margin-bottom: 20px;
  &__h2 {
    @include textType5();
    margin-bottom: 10px;
    font-weight: 400;
    text-decoration: underline;
  }

  &__list {
    @include listReset();
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 90px;
    row-gap: 10px;
  }
  &__item {
    @include textType3();
    @include flexible();
    justify-content: flex-start;
    font-weight: 400;
    gap: 10px;
    a {
      text-align: start;
    }
  }
}

.ytguide {
  @include flexible();
  width: 100%;
  flex-direction: column;
}

.miniguide {
  @include flexible();
  flex-direction: column;
  img {
    width: 100%;
  }
}

.plusminus {
  &__descr {
    @include textReset();
    @include textType3();
    font-weight: 400;
    &:nth-child(3) {
      margin-bottom: 15px;
    }
  }
  &__h3 {
    @include textReset();
    @include textType3();
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: 400;
  }

  &__list {
    @include listReset();
    @include textType2();
    @include flexible();
    flex-direction: column;
    gap: 5px;
    row-gap: 15px;
  }

  &__plus-list {
    color: $color6;
  }

  &__minus-list {
    color: $color7;
  }
}

.utility {
  &__img {
    width: 100%;
  }
}

.pumping {
  &__img {
    width: 100%;
  }
}

.damage {
  &__img {
    width: 100%;
  }
}

.weapon {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    @include listReset();
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    position: relative;
  }
  &__item-damage {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25%;
  }

  &__descr-container {
    @include flexible();
    flex-direction: column;
    max-width: 840px;
    p {
      @include textReset();
      @include textType2();
      font-weight: 400;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

.constellation {
  &__descr {
    @include flexible();
    flex-direction: column;
    margin-bottom: 20px;
    p {
      @include textReset();
      @include textType2();
      font-weight: 400;
      margin-bottom: 20px;
      max-width: 740px;
    }
    img {
      &:not(:last-child) {
        margin-bottom: 60px;
      }
    }
  }
  &__h3 {
    @include textReset();
    @include textType3();
    margin-bottom: 20px;
    text-decoration: underline;
  }
}

.team {
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    gap: 20px;
  }
  &__img {
    margin-bottom: 20px;
  }
  &__item {
    @include flexible();
    flex-direction: column;
    img {
      border-radius: 20px;
    }
  }
  &__accordion-list {
    @include listReset();
  }
  &__accordion-item {
    h3 {
      @include textReset();
      @include textType15();
      @include textBold();
      text-decoration: underline;
    }
    p {
      @include textReset();
      @include textType1();
    }
  }
}

.review {
  &__descr {
    @include textReset();
    @include textType2();
  }
  &__list {
    @include listReset();
  }
  &__img {
    width: 100%;
  }
}

@media (max-width: 1040px) {
  .name {
    &__h2 {
      @include textType5();
    }
    &__role {
      @include textType3();
    }
  }
  .contents {
    &__h2 {
      @include textType3();
    }
    &__item {
      @include textType2();
    }
  }
}

@media (max-width: 860px) {
  .resonator {
    width: 90%;
    &__h2 {
      @include textType3();
    }
    &__common-preview {
      max-width: 100%;
    }
  }
  .contents {
    &__h2 {
      @include textType2();
    }
    &__item {
      @include textType15();
    }
  }
  .weapon {
    &__item {
      @include flexible();
      flex-direction: column;
      &-damage {
        width: 20%;
        right: 5%;
      }
    }
  }

  .team__accordion-item {
    h3 {
      @include textType1();
    }
    p {
      @include textType05();
    }
  }
}

@media (max-width: 750px) {
  .name {
    &__role {
      @include textType15();
    }
  }
  .contents {
    &__h2 {
      @include textType2();
    }
    &__item {
      @include textType15();
      a {
        text-align: start;
      }
    }
  }

  .plusminus {
    &__descr {
      @include textType2();
    }
    &__list {
      @include textType15();
      gap: 5px;
    }
    &__plus-list {
      color: $color6;
    }

    &__minus-list {
      color: $color7;
    }
  }

  .team__accordion-item {
    h3 {
      @include textType1();
    }
    p {
      @include textType05();
    }
  }

  .review {
    &__descr {
      @include textType15();
    }
  }
  .resonator__up{
    @include textType15();
  }
}

@media (max-width: 480px) {
  .resonator {
    &__h2 {
      @include textType2();
      margin-bottom: 20px;
    }
    &__up{
    @include textType1();
    padding: 5px
  }
  }
  .name {
    &__h2 {
      @include textType2();
    }
  }
  .contents {
    &__h2 {
      @include textType1();
      margin-bottom: 10px;
    }
    &__list {
      column-gap: 5px;
    }
    &__item {
      @include textType05();
      a {
        text-align: start;
      }
      img {
        width: 10px;
      }
    }
  }
  .plusminus {
    &__descr {
      @include textType1();
    }
    &__list {
      @include textType05();
      gap: 5px;
    }
    &__plus-list {
      color: $color6;
    }

    &__minus-list {
      color: $color7;
    }
    &__h3 {
      @include textType1();
    }
  }
  .weapon {
    &__descr-container {
      p {
        @include textType05();
      }
    }
  }
  .constellation {
    &__descr {
      p {
        @include textType05();
      }
    }
    &__h3 {
      @include textType1();
    }
  }
  .team__accordion-item {
    h3 {
      @include textType05();
    }
    p {
      @include textType03();
    }
  }
  .review {
    &__descr {
      @include textType1();
    }
  }
}
