@use "sass:color";

$main: #120d1f;
$white: #fff;
$color1: #212121;
$color2: #7b00ffed;
$color3: #b4b4b4;
$color4: #120d1f;
$color5: #5300e2;
$color6: #96ffa2;
$color7: #ffb8b8;
$color8: #dd00ff;


$red: #ff0004;
$green: #00ff09;
$purple: #b57ae8;
$cian: #02f6ff;
$yellow: #ffea00;

$standartborder: 15px;
