@use "../../styles/style.scss" as *;

.footer {
  margin-top: auto;
  width: 100%;
  background: $color1;
}

.navigation {
  @include flexible();
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding: 26px 0 5px;

  &__h2 {
    @include textType15();
    margin-bottom: 10px;
    font-weight: lighter;
  }

  &__container {
    @include flexible();
    flex-direction: column;
    &:first-child {
      margin-right: 20px;
    }
  }
  &__list {
    @include listReset();
    @include flexible();
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__link {
    @include flexible();
    @include standartTransition();
    @include standartAnimZoom();
    & {
      gap: 5px;
    }

    svg {
      width: 23px;
    }
    img {
      width: 23px;
    }
  }
  &__text {
    @include textType15();
    line-height: 10px;
  }
}

.nav-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 480px) {
  .navigation {
    &__h2 {
      @include textType1();
      margin-bottom: 10px;
    }
    &__link {
      img {
        width: 15px;
      }
      svg {
        width: 15px;
      }
    }
    &__list {
      &:nth-child(2) {
        gap: 0;
      }
    }
    &__text {
      @include textType05();
    }
  }
}

@media (max-width: 280px){
  .navigation__h2{
    @include textType08();
  }
}
